.summonLoginBox {
    height: 100%;
    width: 100%;
    border: solid 0px;
    position: absolute;
    overflow: hidden;
}

.loginWallpaper {
    height: 100%;
    width: 100%;
    border: solid 0px;
    position: absolute;
    overflow: hidden;
    user-select: none;
}

#ioSummonLoginBoxWallpaper {
    height: 100%;
    width: 100%;
}

.ioLoginApp {
    border: solid 0px;
    background-color: #2e3440;
    border-radius: 18px;
    position: absolute;
    height: 40%;
    width: 25%;
    transform: translateX(150%);
    margin-top: 10%;
}

.ioLoginHeader {
    color: #d8dee9;
}

.ioLoginStyleCenter {
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 15%;
    height: 50%;
}

.ioLoginAppBtn {
    border-radius: 8px;
    height: 12%;
    border: solid 0px;
    background-color: var(--nord10);
    color: var(--fg);
}
input[type=text]:focus{
    outline: var(--nord10);
}
input[type=password]:focus{
    outline: var(--nord10);
}

#loginContent2 {
    transform: translateY(25%);
}

#loginContent3 {
    transform: translateY(85%);
}

::placeholder {
    font-style: italic;
    color: var(--fg);

}