html {
    scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

section::-webkit-scrollbar {
  width: 0 !important
  }

body {
    margin: 0;
    overflow: hidden;
}

.appUIBody {
    height: 100%;
    width: 100%;
    background-color: none;
    border: solid 0px;
    position: absolute;
}

.appUIUser {
    height: 100%;
    width: 5%;
    background-color: var(--nord1);
    border: solid 0px;
    left: 0%;
    border: solid 0px;
}

#appUIMenu {
    display: inline-block;
    height: 95%;
    width: 20%;
    position: absolute;
    bottom: 0%;
    left: 5%;
    border: solid 0px;
}

.aUIm0 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--bg);
    border: solid 0px;
}

.aUIm1 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:  var(--bg);
    border: solid 0px;
}

.aUIm2 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--bg);
    border: solid 0px;
}

.aUIm2 a {
    background-color: var(--bg);
    color: var(--fg);
    display: block;
    padding: 12px;
    border-radius: 18px;
    text-decoration: none;
}

.aUIm2 a:hover {
    background-color: var(--nord1);
}

.aUIm2 a.active {
    background-color: var(--nord1);
    color: var(--fg);
    border-radius: 18px;
}


.aUIm1 a {
    background-color: var(--bg);
    color: var(--fg);
    display: block;
    padding: 12px;
    border-radius: 18px;
    text-decoration: none;
}

.aUIm1 a:hover {
    background-color: var(--nord1);
}

.aUIm1 a.active {
    background-color: var(--nord1);
    color: var(--fg);
    border-radius: 18px;
}

.aUIm0 a {
    background-color: var(--bg);
    cursor: pointer;
    color: var(--fg);
    display: block;
    padding: 12px;
    border-radius: 18px;
    text-decoration: none;
}

.aUIm0 a:hover {
    background-color: var(--nord1);
}

.aUIm0 a.active {
    background-color: var(--nord1);
    color: var(--fg);
    border-radius: 18px;
}



.ioDemoApp {
    display: block;
    height: 100%;
    width: 100%;
    border: solid 0px;
    background-color: var(--bg);
    position: absolute;
}

#appUIContent {
    display: inline-block;
    width: 75%;
    height: 100%;
    top: 0%;
    right: 0%;
    position: absolute;
    background-color: purple;
    border: solid 0px;
}

.btnHolderAccount {
    height: 5%;
    width: 100%;
    background-color: var(--nord1);
    color: var(--fg);
    position: absolute;
    border: solid 0px;
    bottom: 0%;
}

.appUIBtnStyle {
    width: 5%;
    height: 100%;
    position: absolute;
    border: solid 0px;
    color: var(--fg);
    cursor: pointer;
    background-color: var(--nord1);
    font-weight: bold;
    font-size: 12px;
}

.btnHolderAccount:hover {
    background-color: var(--bg);
}

.btnHolderSettings {
    height: 5%;
    width: 100%;
    background-color: var(--nord1);
    color: var(--fg);
    position: absolute;
    border: solid 0px;
    bottom: 5%;
}

.appUIBtnStyle:hover{
    background-color: var(--bg);
}

#appLogoBranding {
    position: absolute;
    left: 5%;
    height: 5%;
    width: 20%;
    background: var(--bg);
    border: solid 0px;
    top: 0%;
}

#logoUI {
    height: 50px;
    width: 50px;
}

#headerUI {
    font-size: 24px;
    color: var(--fg);
    position: relative;
    right: 0%;
    top: 0%;
}

.appSettings {
    height: 50%;
    width: 50%;
    border: solid 0px;
    position: absolute;
    background-color: var(--nord10);
    border-radius: 18px;
    transform: translateY(50%);
    left: 25%;
}

#ioDemoWallpaper {
    height: 100%;
    width: 100%;
    position: relative;
}

.ioDemoForm {
    display: inline-block;
    position: absolute;
    height: 50%;
    width: 50%;
    transform: translateY(50%);
    left: 25%;
    border-radius: 18px;
    background-color: var(--bg);
    border: solid 0px;
    top: 0%;
}

.appS0 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}

.appS1 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}

#appLS0 {
    cursor: pointer;
}

#appLS1 {
    cursor: pointer;
}

.appB0 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}

.appB1 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}

.appB2 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}

.appD0 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}

.appD1 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}

.appD2 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}


.d2AddUser {
    height: 30%;
    width: 20%;
    background-color: var(--nord10);
    border-radius: 18px;
    float: right;
    border: solid 0px;
    position: absolute;
    bottom: 8%;
    right: 1%;
    display: flex;
}

.addUserBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 0px;
    background-color: var(--nord10);
    position: absolute;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
}

.addUserBtnStyle {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50%);

}

.changeUserBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 0px;
    background: var(--nord10);
    position: absolute;
    bottom: 1%;
    right: 70px;
    cursor: pointer;
}

.DeleteUserBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 0px;
    background: var(--nord10);
    position: absolute;
    bottom: 1%;
    right: 130px;
    cursor: pointer;
}

.styleUsers {
    color: var(--fg);
    font-style: italic;
}

.d2EditUsers {
    height: 20%;
    width: 30%;
    background-color: var(--nord10);
    border-radius: 18px;
    overflow: hidden;
    float: right;
    border: solid 0px;
    position: absolute;
    bottom: 8%;
    right: 1%;
    display: flex;
}

.d2DeleteUsers {
    height: 20%;
    width: 30%;
    background-color: var(--nord10);
    border-radius: 18px;
    float: right;
    border: solid 0px;
    position: absolute;
    bottom: 8%;
    right: 1%;
    display: flex;
}

.d2EditSelUser {
    display: flexbox;
    height: 90%;
    width: 100%;
    bottom: 2%;
    position: relative;
    overflow-y: scroll;
    border: solid 0px;
    background: var(--nord10);
}

.d2EditSelUser::-webkit-scrollbar {
    display: none!important;
}

.d2EditSelArray {
    height: 20%;
    border: solid 1px;
    width: 100px;
    background-color: var(--nord10);
    color: var(--fg);
    
    border-color: var(--nord10);
}

.d2EditSelArray:hover {
    background-color: var(--nord9);
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.mainHeader {
    font-size: 24px;
    color: var(--fg);
    margin-top: 2%;
}

.d2AddUserHeader {
    display: inline-block;
    border: solid 0px;
    background-color: var(--nord10);
    position: relative;
    height: 20%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.d2AddUserForm {
    position: absolute;
    border: solid 0px;
    background-color: var(--nord10);
    height: 80%;
    width: 100%;
    bottom: 0%;
    left: 0%;
}

.d2AddUserFormBtnStyle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    object-position: center;
    background-color: var(--nord10);
    border: solid 1px;
    border-color: var(--fg);
    border-radius: 8px;
    font-style: italic;
    color: var(--fg);
}

.d2RadioLabel{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: var(--fg);
}

.d2AddUserFormRegBtn {
    position: relative;
    border: solid 1px;
    border-color: var(--fg);
    background-color: var(--nord10);
    font-style: italic;
    color: var(--fg);
    width: 50%;
    border-radius:8px;
    cursor: pointer;
}

.ioDemoFormLeft {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 10%;
    border: solid 0px;
    background-color: none;
}

.ioDemoFormRight {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100%;
    width: 10%;
    border: solid 0px;
    background-color: none;
}

.ioDemoFormCenter {
    position: absolute;
    left: 10%;
    top: 0%;
    height: 100%;
    width: 80%;
    border: solid 0px;
    display: flex;
    background-color: none;
}

.ioDemoFormContent {
    position: absolute;
    height: 90%;
    width: 90%;
    border: solid 0px;
    background-color: var(--nord10);
    left: 5%;
    top: 5%;
    border-radius: 12px;
}

.ioDemoForm0 {
    height: 100%;
    width: 100%;
    border: solid 0px;
    border-radius: 12px;
    position: absolute;
    background-color: none;
}

.ioDemoForm1 {
    height: 100%;
    width: 100%;
    border: solid 0px;
    border-radius: 12px;
    position: absolute;
    background-color: none;
}

.ioDemoFormLeftBtnHolder {
    border: solid 0px;
    background-color: none;
    height: 20%;
    width: 100%;
    position: absolute;
    top: 40%;
}

.ioDemoFormRightBtnHolder {
    border: solid 0px;
    background-color: none;
    height: 20%;
    width: 100%;
    position: absolute;
    top: 40%;
}

iframe {
    display: none;
}

.ioDemoIMG {
    height: 100%;
    width: 100%;
    position: absolute;
}

.ioDemoArrowFix {
    height: 100%;
    width: 100%;
}

.ioDemoButtonStyle {
    background-color: var(--bg);
    border: none;
    border-color: var(--bg);
    background: transparent;
    cursor: pointer;
}

.appSettingsMenu {
    height: 100%;
    width: 10%;
    position: absolute;
    left: 0%;
    top: 0%;
    border: solid 0px;
    background-color: var(--nord10);
}

.appSettingsFrame {
    border: solid 0px;
    background-color: var(--nord10);
    height: 100%;
    width: 90%;
    right: 0%;
    position: absolute;
}

.appSettingsMenu {
    width: 100%;
    height: 10%;
    border: solid 2px;
}

.ioClockFrame {
    height: 25%;
    width: 25%;
    border-radius: 18px;
    border: solid 0px;
    background-color: var(--nord10);
    position: absolute;
}