html {
    scrollbar-width: none;
}
body::-webkit-scrollbar{
  display: none;
}
section::-webkit-scrollbar {
  width: 0 !important
  }
body {
    margin: 0;
    overflow: hidden;
}
.appUIBody {
    height: 100%;
    width: 100%;
    border: solid 0px;
    position: absolute;
}
.appUIUser {
    height: 100%;
    width: 5%;
    background-color: var(--nord1);
    border: solid 0px;
    left: 0%;
    border: solid 0px;
}
#appUIMenu {
    display: inline-block;
    height: 95%;
    width: 20%;
    position: absolute;
    bottom: 0%;
    left: 5%;
    border: solid 0px;
}
.aUIm {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--bg);
    border: solid 0px;
}
.aUIm a {
    background-color: var(--bg);
    color: var(--fg);
    display: block;
    padding: 12px;
    border-radius: 18px;
    text-decoration: none;
}
.aUIm a:hover {
    background-color: var(--nord1);
}
.aUIm a.active {
    background-color: var(--nord1);
    color: var(--fg);
    border-radius: 18px;
}
.ioDemoApp {
    display: block;
    height: 100%;
    width: 100%;
    border: solid 0px;
    background-color: var(--bg);
    position: absolute;
}
#appUIContent {
    display: inline-block;
    width: 75%;
    height: 100%;
    top: 0%;
    right: 0%;
    position: absolute;
    border: solid 0px;
}
.btnHolderAccount {
    height: 5%;
    width: 100%;
    background-color: var(--nord1);
    color: var(--fg);
    position: absolute;
    border: solid 0px;
    bottom: 0%;
}
.appUIBtnStyle {
    width: 5%;
    height: 100%;
    position: absolute;
    border: solid 0px;
    color: var(--fg);
    cursor: pointer;
    background-color: var(--nord1);
    font-weight: bold;
    font-size: 12px;
}
.btnHolderAccount:hover {
    background-color: var(--bg);
}
.btnHolderSettings {
    height: 5%;
    width: 100%;
    background-color: var(--nord1);
    color: var(--fg);
    position: absolute;
    border: solid 0px;
    bottom: 5%;
}
.appUIBtnStyle:hover{
    background-color: var(--bg);
}
#appLogoBranding {
    position: absolute;
    left: 5%;
    height: 5%;
    width: 20%;
    background: var(--bg);
    border: solid 0px;
    top: 0%;
}
#logoUI {
    height: 50px;
    width: 50px;
}
#headerUI {
    font-size: 24px;
    color: var(--fg);
    position: relative;
    right: 0%;
    top: 0%;
}
#ioDemoWallpaper {
    height: 100%;
    width: 100%;
    position: relative;
}
.ioDemoForm {
    display: inline-block;
    position: absolute;
    height: 50%;
    width: 50%;
    transform: translateY(50%);
    left: 25%;
    border-radius: 18px;
    background-color: var(--bg);
    border: solid 0px;
    top: 0%;
}
.appS0 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.appS1 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.appS2 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}

#appLS0 {
    cursor: pointer;
}
#appLS1 {
    cursor: pointer;
}
#appLS2 {
    cursor: pointer;
}
.appB0 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.appB1 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.appB2 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.appB3 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.appD0 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.appD1 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.appD2 {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    border: solid 0px;
}
.d2AddUser {
    height: 30%;
    width: 20%;
    background-color: var(--nord10);
    border-radius: 18px;
    float: right;
    border: solid 0px;
    position: absolute;
    bottom: 8%;
    right: 1%;
    display: flex;
}
.addUserBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 0px;
    background-color: var(--nord10);
    position: absolute;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
}
.addUserBtnStyle {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50%);
}
.changeUserBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 0px;
    background: var(--nord10);
    position: absolute;
    bottom: 1%;
    right: 70px;
    cursor: pointer;
}
.DeleteUserBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 0px;
    background: var(--nord10);
    position: absolute;
    bottom: 1%;
    right: 130px;
    cursor: pointer;
}
.styleUsers {
    color: var(--fg);
    font-style: italic;
}
.d2EditUsers {
    height: 30%;
    width: 20%;
    background-color: var(--nord10);
    border-radius: 18px;
    overflow: hidden;
    float: right;
    border: solid 0px;
    position: absolute;
    bottom: 8%;
    right: 1%;
    display: flex;
}
.d2DeleteUsers {
    height: 30%;
    width: 20%;
    background-color: var(--nord10);
    border-radius: 18px;
    float: right;
    border: solid 0px;
    position: absolute;
    bottom: 8%;
    right: 1%;
    display: flex;
}
.d2EditSelUser {
    height: 80%;
    width: 100%;
    top: 5%;
    position: relative;
    overflow-y: scroll;
    border: solid 0px;
    background: var(--nord10);
}
.d2EditSelUser::-webkit-scrollbar {
    display: none!important;
}
.d2EditSelArray {
    height: 20%;
    border: solid 1px;
    width: 100px;
    background-color: var(--nord10);
    color: var(--fg);
    border-color: var(--nord10);
}
.d2EditSelArray:hover {
    background-color: var(--nord9);
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.mainHeader {
    font-size: 24px;
    color: var(--fg);
    margin-top: 2%;
}
.d2AddUserHeader {
    display: inline-block;
    border: solid 0px;
    background-color: var(--nord10);
    position: relative;
    height: 20%;
    width: 100%;
    top: 0%;
    left: 0%;
}
.d2AddUserForm {
    position: absolute;
    border: solid 0px;
    background-color: var(--nord10);
    height: 80%;
    width: 100%;
    bottom: 0%;
    left: 0%;
}
.d2AddUserFormBtnStyle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    object-position: center;
    background-color: var(--nord10);
    border: solid 1px;
    border-color: var(--fg);
    border-radius: 8px;
    font-style: italic;
    color: var(--fg);
}
.d2RadioLabel{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: var(--fg);
}
.d2AddUserFormRegBtn {
    position: relative;
    border: solid 1px;
    border-color: var(--fg);
    background-color: var(--nord10);
    font-style: italic;
    color: var(--fg);
    width: 50%;
    border-radius:8px;
    cursor: pointer;
}
.ioDemoFormLeft {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 10%;
    border: solid 0px;
}
.ioDemoFormRight {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100%;
    width: 10%;
    border: solid 0px;
}
.ioDemoFormCenter {
    position: absolute;
    left: 10%;
    top: 0%;
    height: 100%;
    width: 80%;
    border: solid 0px;
    display: flex;
}
.ioDemoFormContent {
    position: absolute;
    height: 90%;
    width: 90%;
    border: solid 0px;
    background-color: var(--nord10);
    left: 5%;
    top: 5%;
    border-radius: 12px;
}
.ioDemoForm0 {
    height: 100%;
    width: 100%;
    border: solid 0px;
    border-radius: 12px;
    position: absolute;
}
.ioDemoForm1 {
    height: 100%;
    width: 100%;
    border: solid 0px;
    border-radius: 12px;
    position: absolute;
}
.ioDemoFormLeftBtnHolder {
    border: solid 0px;
    height: 20%;
    width: 100%;
    position: absolute;
    top: 40%;
}
.ioDemoFormRightBtnHolder {
    border: solid 0px;
    height: 20%;
    width: 100%;
    position: absolute;
    top: 40%;
}
.ioDemoIMG {
    height: 100%;
    width: 100%;
    position: absolute;
}
.ioDemoArrowFix {
    height: 100%;
    width: 100%;
}
.ioDemoButtonStyle {
    background-color: var(--bg);
    border: none;
    border-color: var(--bg);
    background: transparent;
    cursor: pointer;
}
.ioClockFrame {
    height: 25%;
    width: 25%;
    border-radius: 18px;
    top: 25%;
    border: solid 0px;
    background-color: var(--nord10);
    position: relative;
}
.AddCompanyBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 0px;
    background: var(--nord10);
    position: absolute;
    bottom: 1%;
    right: 190px;
    cursor: pointer;
}
.addCompanyBtnStyle {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50%);
}

.ioD0Workhours {
    position: absolute;
    height: 55%;
    width: 20%;
    border: solid 0px;
    background-color: var(--nord10);
    border-radius:  22px;
}

.ioWeekControl {
    height: 10%;
    width: 100%;
    position: absolute;
    border: solid 0px;
    background-color: var(--fg);
    left: 0%;
    top: 0%;
}

.ioWeekNumber {
    color: var(--fg);
    background-color: var(--nord10);
    height: 100%;
}

.ioWorkHours {
    height: 90%;
    width: 100%;
    background-color: var(--nord10);
    border: solid 0px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.ioWorkHours-Days {
    height: 90%;
    width: 60%;
    border: solid 0px;
    background-color: var(--nord10);
    position: absolute;
    left: 0%;
    display: inline-block;
    top: 0%;
}

.ioWorkHours-Input {
    height: 90%;
    width: 40%;
    border: solid 0px;
    background-color: var(--nord10);
    position: absolute;
    float: right;
    right: 0%;
    display: inline-block;
    top: 0%;
}

#ioWorkDayMon {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 0%;
    background-color: var(--nord10);
}

#ioWorkDayThu {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 20%;
    background-color: var(--nord10);
}

#ioWorkDayWed {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 40%;
    background-color: var(--nord10);
}

#ioWorkDayThr {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 60%;
    background-color: var(--nord10);
}

#ioWorkDayFri {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 80%;
    background-color: var(--nord10);
}


#ioWorkDayMonInput {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 0%;
    background-color: var(--nord10);
}

#ioWorkDayThuInput {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 20%;
    background-color: var(--nord10);
}

#ioWorkDayWedInput {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 40%;
    background-color: var(--nord10);
}

#ioWorkDayThrInput {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 60%;
    background-color: var(--nord10);
}

#ioWorkDayFriInput {
    height: 20%;
    width: 100%;
    border: solid 0px;
    display: inline-block;
    left: 0%;
    top: 80%;
    background-color: var(--nord10);
}

.ioWorkhrsSubmit {
    height: 10%;
    width: 100%;
    bottom: 0%;
    position: absolute;
    left: 0%;
    border: solid 0px;
    background-color: var(--nord10);
    display: inline-block;
}

.ioWorkhrsSubmitBtn {
    position: relative;
    width: 80%;
    background-color: var(--bg);
    border: solid 0px;
    border-radius: 12px;
    color: var(--fg);
}

.appB0Fix {
    color: var(--fg);
}

#dLeerdoelSelected, #dFeedbackSelected {
    border: solid 0px;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0%;
}

#dLeerdoelSelected {left: 0%;}
#dFeedbackSelected {right: 0%;}

.ioTestApp {
    height: 100%;
    width: 100%;
    position: relative;
    border: solid 0px;
}

.B3ReviewStudentBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 0px;
    background-color: var(--nord10);
    position: absolute;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
}

.B3ReviewStudSel {
    height: 20%;
    width: 30%;
    background-color: var(--nord10);
    border-radius: 18px;
    overflow: hidden;
    float: right;
    border: solid 0px;
    position: absolute;
    bottom: 8%;
    right: 1%;
    display: flex;
}

.ioClockBtn {
    height: 100%;
    width: 100%;
    border: solid 0px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--nord10);
    color: var(--fg);
}

.leerdoel {
    position: absolute;
    top: 5%;
    left: 1%;
    height: 15%;
    width: 25%;
    border-radius: 22px;
}

.s1Submit {
    position: absolute;
    top: 22%;
    border: solid 0px;
    background-color: var(--nord10);
    color: var(--fg);
    cursor: pointer;
    left: 2%;
    height: 4%;
    width: 8%;
    border-radius: 22px;
}

.s1Label {
    color: var(--fg);
    font-size: 24px;
    left: 1%;
    position: relative;
}

.S2Header {
    color: var(--fg);
    font-size: 24px;
    font-weight: normal;
}

.s2head {
    border: solid 0px;
    background-color: var(--bg);
    width: 15%;
    height: 2%;
    position: absolute;
    display: inline-block;
}

.s2Datum {
    position: relative;
    display: inline-block;
    color: var(--fg);
    left: 8%;
}

.s2Start {
    position: relative;
    display: inline-block;
    color: var(--fg);
    left: 20%;
}

.s2Eind {
    position: relative;
    display: inline-block;
    color: var(--fg);
    left: 30%;
}

.b0btnStyle {
    background-color: var(--nord10);
    border: solid 0px;
    height: 8%;
    position: relative;
    width: 12%;
    color: var(--fg);
    cursor: pointer;
    border-radius: 4px;
}

.appB0sizefix {
    height: 100%;
    width: 100%;
    position: absolute;
}

.B1Color {
    color: var(--fg);
}

input[type=radio].b1Green {
    accent-color: green;
}
input[type=radio].b1Red {
    accent-color: red;
}

.b1Submit {
    border: solid 0px;
    background-color: var(--nord10);
    height: 5%;
    width: 10%;
    color: var(--fg);
    border-radius: 22px;
    cursor: pointer;
}

.appB2user {
    border: solid 0px;
    height: 5%;
    width: 10%;
    background-color: var(--nord10);
    color: var(--fg);
    border-radius: 18px;
}

.b4Submit {
    border: solid 0px;
    background-color: var(--bg);
    height: 5%;
    width: 25%;
    color: var(--fg);
    border-radius: 22px;
}

input[type=radio].b3O {
    accent-color: red;
}

input[type=radio].b3V {
    accent-color: yellow;
}

input[type=radio].b3G {
    accent-color: green;
}

.d2Submit {
    border: solid 0px;
    background-color: var(--bg);
    height: 10%;
    width: 25%;
    color: var(--fg);
    display: inline-block;
    border-radius: 22px;
    text-decoration: none;
}
